In [1]:
%load_ext autoreload
%autoreload 2

In [28]:
from scipy.stats import ttest_1samp
import pandas as pd

from test_simulation import *

## Runing simulation on 1000 otu for 1000 trials

In [36]:
n,N=1000,1000

In [37]:
d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

display(rst.head())

     beta11    beta21    beta31    beta32
0  0.395980  0.117668  0.076464  0.015000
1  0.256542  0.080153  0.050460  0.102956
2  0.259631  0.082654  0.077568  0.023387
3  0.087063  0.104485  0.080812  0.042451
4  0.098511  0.084692  0.032929  0.009778

### perform 1 sample t-test with population mean set to 0

In [38]:
# t value, p value
rst.apply(ttest_1samp,axis=0,popmean=0)

beta11                        (59.296034083220555, 0.0)
beta21                         (72.35091507128503, 0.0)
beta31               (57.13256346422673, 4.936781e-317)
beta32    (40.613143547908415, 1.0116506416793443e-213)
dtype: object

## running simulation on 500 otu with 1000 trials

In [39]:
n,N=500,1000

In [40]:
d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

# 1 sample t-test with population mean set to 0
# t value, p value
rst.apply(ttest_1samp,axis=0,popmean=0)

beta11                        (58.82522307155942, 0.0)
beta21                        (75.11701656644085, 0.0)
beta31     (55.68755174360723, 1.427254372004454e-308)
beta32    (38.12937879154832, 4.5464268720163257e-197)
dtype: object