In [2]:
%load_ext autoreload
%autoreload 2

In [9]:
from scipy.stats import ttest_1samp
import pandas as pd

from test_simulation import *

<hr><hr><hr>

# multivariate

In [35]:
var["mediation_func"]=multi_var_mediation

In [36]:
n,N=1000,500

d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

display(rst.head())

     beta11    beta21    beta31    beta32
0  4.040989  0.088813  4.231938  0.025813
1  4.374423  0.101516  4.076932  0.028268
2  4.130869  0.152293  4.193017  0.038306
3  4.202560  0.085828  3.776122  0.070664
4  4.023477  0.111360  3.669536  0.006354

In [ ]:
# TODO

In [42]:
E,_=eigh(A)

In [55]:
E[E.argsort()[:-6:-1]]

array([2., 2., 1., 1., 1.])

<hr><hr><hr>

# simple mediation

In [15]:
var["mediation_func"]=simple_mediation

In [24]:
n,N=1000,1000

d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

display(rst.head())

     beta11    beta21    beta31    beta32
0  5.700923  0.073574  4.408142  0.023834
1  3.988335  0.087506  3.568981  0.011195
2  5.598339  0.144146  4.733854  0.040058
3  4.989662  0.096850  4.804273  0.074044
4  4.454483  0.159035  4.436164  0.012174

In [ ]:
# TODO

<hr><hr><hr>

# simple mediation direct

In [33]:
var["mediation_func"]=simple_mediation_direct

## Runing simulation on 1000 otu for 1000 trials

In [36]:
n,N=1000,1000

In [37]:
d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

display(rst.head())

     beta11    beta21    beta31    beta32
0  0.395980  0.117668  0.076464  0.015000
1  0.256542  0.080153  0.050460  0.102956
2  0.259631  0.082654  0.077568  0.023387
3  0.087063  0.104485  0.080812  0.042451
4  0.098511  0.084692  0.032929  0.009778

### perform 1 sample t-test with population mean set to 0

In [38]:
# t value, p value
rst.apply(ttest_1samp,axis=0,popmean=0)

beta11                        (59.296034083220555, 0.0)
beta21                         (72.35091507128503, 0.0)
beta31               (57.13256346422673, 4.936781e-317)
beta32    (40.613143547908415, 1.0116506416793443e-213)
dtype: object

## running simulation on 500 otu with 1000 trials

In [39]:
n,N=500,1000

In [40]:
d2_lst = np.empty(N,dtype=object)

for idx in range(N):
    _,_,d2=generate(n)
    d2_lst[idx]=d2
    
rst=pd.DataFrame(d2_lst.tolist())

# 1 sample t-test with population mean set to 0
# t value, p value
rst.apply(ttest_1samp,axis=0,popmean=0)

beta11                        (58.82522307155942, 0.0)
beta21                        (75.11701656644085, 0.0)
beta31     (55.68755174360723, 1.427254372004454e-308)
beta32    (38.12937879154832, 4.5464268720163257e-197)
dtype: object